
	@media screen and (max-width: 790px){
     .img_ft_1{
     	display: none;
     }
	}

.img_ft_1{
		width: 33px;
    background-color: red;
    margin-top: 14px;
    margin-bottom: 14px
	}
	
	


.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   
  
   
}
.container_footer{
    width: available;
    height: available;
}

.f_l{
    width: 33.3%;
    height: 70px;
    float: left;
    border-collapse: collapse;
}

.f_m{
   width: 33.3%;
   float: left;
   border-collapse: collapse; height: 70px;
}

.f_r{
    width: 33.4;
    height: 70px;
    border-collapse: collapse;
}

.top1_a {
    height: 70px;
    position: fixed;
    width: 100%;
    max-width: 100%;
    top: 0px;
    left: 0px;
    background: #5b6cbf;
    z-index: 9999;
    vertical-align: middle;
    line-height: 70px;
    box-shadow: 1px 0 3px rgba(0,0,0,.15);
    border-bottom: 1px solid #d4d1d1;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.contant_1{
   
    height: 100%;
    
    position: fixed;
    right: 0px;
   
    overflow: auto;
    
    }

.welcome_admin {
    font-size: 15px;
    font-family: initial;
    font-variant: discretionary-ligatures;
    font-variant-caps: normal;
    font-kerning: none;
    font-style: normal;
    color: #380cc1;
}

.col_m{
    width:100%;
}


.main_dtr2 {
    font-style: italic;
    font-family: auto;
    /* font-size: xx-large; */
     font-size: 13px; 
    font-weight: 600;
}

.id1 {
    float: left;
    width: 20%;
    height: 80px;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #999;
    border-right: 1px solid #999;
    box-shadow: 0 1px 1px #cccccc;
    margin-left: 10%;
    /* margin-bottom: 10px; */
    margin-top: 10px;
}



.img1_top {
    width: 50px;
    height: 50px;
    border-right: 50px;
    margin-top: 10px;
    border-radius: 50px;
    border: 1px solid #fff;
    /* float: right; */
    padding: 1px !important;
    background: #fff;
}

.input_div{
    background: #bff3e4;
    border: 1px solid green;
    padding: 1px;
    margin: 9px;
    width: 96%;
}